<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="Login Tests">
        <classes>
            <class name="diplom.tests.LoginTests">
                <methods>
                    <include name="wrongPasswordLoginTest"/>
                    <include name="wrongLoginNameLoginTest"/>
                    <include name="wrongLoginNameWrongLoginTest"/>
                    <include name="blankLoginNameLoginTest"/>
                    <include name="loginNameBlankLoginTest"/>
                    <include name="blankLoginNameBlankLoginTest"/>
                    <include name="successfulLoginTest"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="Search Tests">
        <classes>
            <class name="diplom.tests.SearchTests">
                <methods>
                    <include name="searchFieldIsAvailable"/>
                    <include name="searchWithEmptyValue"/>
                    <include name="searchWithSpecialSymbols"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="Header Tests">
        <classes>
            <class name="diplom.tests.HeaderTests">
                <methods>
                    <include name="jobPageCheckHeader"/>
                    <include name="blogPageCheckHeader"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>